body {
  font-family: sans-serif;
  color: black;
  font-size: 12pt;
}

#header {
  font-family: sans-serif;
  font-weight: 900;
  color: black;
  font-size: 26px;
  text-transform: lowercase;
}

#subheader {
  font-family: sans-serif;
  font-weight: 700;
  color: rgb(110, 110, 110);
  font-size: 18px;
}

#master_container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
}

#section {
  display: block;
  margin-top: 20px;
  line-height: 1.5;
}

#section_title {
  font-size: 11.5pt;
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(150, 150, 150);
} 

#section_content {
  margin-left: 0px;
}

#oops {
  font-size: 10pt;
  color: rgb(209, 2, 95);
}

#project {
  margin-top: 5px;
  margin-bottom: 5px;
}

#project_desc {
  margin-left: 40px;
  font-size: 11.5pt;
  color: rgb(100, 100, 100);  
}
